@page "/"

<PageTitle>Index</PageTitle>

<h1>Customer</h1>
<div id="CustomerDiv">
    <table id="menuTable3">
        <tr>
            <th>Customer ID</th>
            <th>Customer Name</th>
            <th>DOB</th>
            <th>Action</th>
        </tr>
    </table>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<h1>Order Details</h1>
<table id="menuTable4">
    <tr>
        <th>Order ID</th>
        <th>Item</th>
        <th>Price</th>
    </tr>
</table>
